*{
    margin: 0;
}
.header{
    display:flex;
}

.w00{
    margin: 150px 0px 0px 50px;
    /* border: 1px solid red; */
}
.w{
    margin: 80px 0 0 80px;
    height: 600px;
    width: 1200px;
    /* border: 1px solid red; */
}

.q{
    font-size: 32px;
    margin: 0 0 0 350px;
}


.q11{
    font-size: 30px;
    /* border: 1px solid black; */
}
.q12{
    font-size: 60px;
    margin: -15px 0 0 20px;
    /* border: 1px solid black; */
}

.q21{
    font-size: 30px;
    margin: 15px 0 0 0;
    /* border: 1px solid black; */
}
.q22{
    font-size: 30px;
    margin: 15px 0 0 20px;
    /* border: 1px solid black; */
}

.w1{
    display: flex;
    flex-direction: column;
    margin: 60px 0 0 0;
}
.r1{
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 1500px;
    /* border: 1px solid red; */
    margin: 25px 0 0 0;
}
.r2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 780px;
    /* border: 1px solid red; */
    align-items: center;
    margin: 25px 0 0 0;
}
.r3{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 780px;
    /* border: 1px solid red; */
    align-items: center;
    margin: 25px 0 0 0;
}
.r4{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 780px;
    /* border: 1px solid red; */
    align-items: center;
    margin: 25px 0 0 0;
}
.r5{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 780px;
    /* border: 1px solid red; */
    align-items: center;
    margin: 25px 0 0 0;
}
.q31{
    font-size: 30px;
    /* border: 1px solid black; */
}
.q32{
    font-size: 30px;
    margin: 0px 0 0 20px;
    /* border: 1px solid black; */
}

.q41{
    font-size: 30px;
    /* border: 1px solid black; */
}
.q42{
    font-size: 30px;
    margin: 0px 0 0 20px;
    /* border: 1px solid black; */
}
.q51{
    font-size: 30px;
    /* border: 1px solid black; */
}
.q52{
    font-size: 30px;
    margin: 0px 0 0 20px;
    /* border: 1px solid black; */
}
.q61{
    font-size: 30px;
    /* border: 1px solid black; */
}
.q62{
    font-size: 30px;
    margin: 0px 0 0 20px;
    /* border: 1px solid black; */
}
.r6{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1300px;
    /* border: 1px solid red; */
    align-items: center;
    margin: 25px 0 0 0;
}